div.box, div.pre-Box {
    margin: 1em 0 1em 3%;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    border: 1px solid #d0d7de;
    background-color: #ffffff;
    text-align: left;
    width: 500px;
}

div.box {
    padding: 10px 10px;
}

div.box {
    margin-left: 45px;
}

.tdn {
    text-decoration: none;
}

pre {
    background-color: #e0e0e0;
    border-radius: 10px;
    color: rgba(0,0,0,.9);
    font-family: monospace;
    overflow: auto;
    padding: 15px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.other-pre {
    background-color: #f6f8fa;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #d0d7de;
    color: rgba(0,0,0,.9);
    font-family: monospace;
    overflow: auto;
    padding: 16px;
}

.other-Box {
    text-decoration: none;
    list-style: none;
    border: 1px solid #30363d;
    border-radius: 6px !important;
    padding: 24px !important;
    display: inline-block !important;
}

.other-pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.do { float: left; }