.change-profile-photo-picture-color:hover { background: t; }
.footer { background-color: #444; border: 1px solid #666; font-size: 15px; color: #fff; padding: 10px 10px; }
.footer { height: 110px; width: 100%; }
.bk { margin: 0; } .bk:hover { background: #666; font-size: 25px; }

.weh-bar {
    font-size: 15px;
}

.weh-bar:hover { 
    background: none 
}

div.weh-bar span a.weh-barLinks {
    margin: 0;
    padding: 0;
}

div.weh-bar span a.weh-barLinks:Hover {
    margin: 0;
}
