:root {
    --override-base00: #2D2A2E;
    --override-base01: #403E41;
    --override-base02: #5B595C;
    --override-base03: #727072;
    --override-base04: #F8F8F2;
    --override-base05: #fcfcfa;
    --override-base06: #5B595C;
    --override-base07: #221F22;
    --override-base08: #78DCE8;
    --override-base09: #AB9DF2;
    --override-base0A: #FF6188;
    --override-base0B: #FFD866;
    --override-base0C: #F59762;
    --override-base0D: #A9DC76;
    --override-base0E: #FF6188;
    --override-base0F: #727072;
    --override-base0G: #131213;
    --override-base0H: #131213;
    --override-base0I: #131213;
}